<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OrdemServico.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Loja" value="01" />
		<add key="Ambiente" value="Prod" />
		<add key="FilialProd" value="04" />
		<add key="FilialDesenv" value="04" />
		<add key="FilialVirada" value="04" />
		<add key="CaminhoWSProd" value="10.230.2.42:91" />
		<add key="CaminhoWSDesenv" value="10.230.2.44:91" />
		<add key="Extensao" value=".pdf,.zip,.jpg" />
	</appSettings>
	<connectionStrings>
		<clear />
		<add name="Prod" connectionString="Data Source=10.230.2.43;Initial Catalog=DADOSADV;Timeout=60;User Id=OSOnline;Password=4g1l1ty;" providerName="System.Data.SqlClient" />
		<add name="Desenv" connectionString="Data Source=10.230.2.45;Initial Catalog=FECHAMENTO;Timeout=60;User Id=OSOnline;Password=4g1l1ty;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="32768" />
		<authorization>
			<deny users="?" />
		</authorization>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" protection="All" loginUrl="~/Login.aspx" defaultUrl="~/ConsultaChamadoTecnico.aspx" />
		</authentication>
		<globalization culture="pt-BR" enableClientBasedCulture="true" fileEncoding="iso-8859-15" uiCulture="pt-BR" requestEncoding="iso-8859-15" responseEncoding="iso-8859-15" />
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<pages theme="padrao" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<clear />
				<add namespace="System" />
				<add namespace="System.Collections" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Collections.Specialized" />
				<add namespace="System.Configuration" />
				<add namespace="System.Text" />
				<add namespace="System.Text.RegularExpressions" />
				<add namespace="System.Web" />
				<add namespace="System.Web.Caching" />
				<add namespace="System.Web.SessionState" />
				<add namespace="System.Web.Security" />
				<add namespace="System.Web.Profile" />
				<add namespace="System.Web.UI" />
				<add namespace="System.Web.UI.WebControls" />
				<add namespace="System.Web.UI.WebControls.WebParts" />
				<add namespace="System.Web.UI.HtmlControls" />
			</namespaces>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
			</controls>
		</pages>
		<!--trace enabled="true" pageOutput="true" requestLimit="10" traceMode="SortByTime" localOnly="true" /!-->
		<!--customErrors mode="RemoteOnly" defaultRedirect="Erro.aspx" !-->
		<customErrors mode="Off">
			<error statusCode="404" redirect="login.aspx" />
		</customErrors>
		<sessionState timeout="15" regenerateExpiredSessionId="false" sqlCommandTimeout="75" />
		<!--identity impersonate="true" /-->
	</system.web>
	<location path="TestPage.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Treinamento">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="treinamento/treinamento.html">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Erro.aspx">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="css/estilos.css">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="imagens">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="componentes/controles/pixel.png">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="include.js">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<applicationSettings>
		<OrdemServico.My.MySettings>
			<setting name="OrdemServico_wsmicrosigaP11_ordemservico_WSORDEMSERVICO" serializeAs="String">
				<value>http://10.230.2.42:91/WSORDEMSERVICO.apw?WSDL</value>
			</setting>
			<setting name="OrdemServico_wsmicrosigaP11_userutility_WSUSERAGILITY" serializeAs="String">
				<value>http://10.230.2.42:91/WSUSERAGILITY.apw?WSDL</value>
			</setting>
			<setting name="OrdemServico_wsmicrosigaHomologacao_ordemservico_WSORDEMSERVICO" serializeAs="String">
				<value>http://10.230.2.42:91/WSORDEMSERVICO.apw?WSDL</value>
			</setting>
			<setting name="OrdemServico_wsmicrosigaHomologacao_utilagility_WSUTILAGILITY" serializeAs="String">
				<value>http://10.230.2.42:91/WSUTILAGILITY.apw</value>
			</setting>
			<setting name="OrdemServico_wsmicrosigaHomologacao_userutility_WSUSERAGILITY" serializeAs="String">
				<value>http://10.230.2.42:91/WSUSERAGILITY.apw?WSDL</value>
			</setting>
			<setting name="OrdemServico_wsmicrosiga_ordemservico_WSORDEMSERVICO" serializeAs="String">
				<value>http://10.230.2.44:91/WSORDEMSERVICO.apw</value>
			</setting>
			<setting name="OrdemServico_wsmicrosiga_useragility_WSUSERAGILITY" serializeAs="String">
				<value>http://10.230.2.44:91/WSUSERAGILITY.apw</value>
			</setting>
			<setting name="OrdemServico_wsmicrosiga_utilagility_WSUTILAGILITY" serializeAs="String">
				<value>http://10.230.2.44:91/WSUTILAGILITY.apw</value>
			</setting>
		</OrdemServico.My.MySettings>
	</applicationSettings>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.14.5506.26196" newVersion="5.14.5506.26196" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>