body {
}

.dvContainer {

    width: 1000px;
    min-height: 85px;
    margin-top: 10px;
    border: 1px solid;
}

.btnUpload {

    width: 500px;
    height: 30px;
    margin: 5px 1px 5px 15px;
}

.lblAnexos {

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin:10px 100px 5px 395px;
    font-weight:700;
    color:#ffffff;
}
.tituloAnexo {
    background-color: #ABABAB ;
    min-height:25px;
}

.anexo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width:999px;
    margin:10px 0 3px 30px;
    
}
